@charset "UTF-8";
body {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  font-size: 16px;
  color: #373737;
  background-color: #ffffff;
  font-weight: 500;
}

a:hover {
  color: #707070;
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align: center;
  background: #707070;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 260px;
  color: #fff;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hamburger-button {
  margin-right: 150px;
}
.hamburger-button path {
  fill: #707070;
}

.hamburger-nav {
  width: 100%;
  height: 100vh;
  background-color: #707070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 120px 0 0 0;
  letter-spacing: 3px;
}
.hamburger-nav ul {
  margin-bottom: 20px;
}
.hamburger-nav li {
  color: #fff;
  font-size: 19px;
  line-height: 2.4;
}
.hamburger-nav a:hover {
  color: gray;
}
.hamburger-nav .icon ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  margin: 0 auto;
}
.hamburger-nav .icon li {
  font-size: 35px;
}

.slider-wrap {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.slide-item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes fadezoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadezoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.slick-animation {
  -webkit-animation: fadezoom 5s 0s forwards;
          animation: fadezoom 5s 0s forwards;
}

.slidein-right {
  opacity: 0;
  -webkit-animation: 3s slideIn forwards;
          animation: 3s slideIn forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  /* 実行回数 */
}
.slidein-right .slidein.is-animated {
  -webkit-animation: slideIn 7s cubic-bezier(0.3, 1, 0.5, 1) 1 forwards;
          animation: slideIn 7s cubic-bezier(0.3, 1, 0.5, 1) 1 forwards;
  /* なめらかに */
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*==================================================
フッタースライダー
===================================*/
.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.slider .slick-slide {
  margin: 0 10px;
  /*スライド左右の余白調整*/
}

.back-top {
  font-size: 27px;
  color: #707070;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 8%;
  right: 12%;
  display: none;
}

header {
  width: 1200px;
  margin: 0 auto;
}
header .header-title {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5px;
}
header .logo-center {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .news {
  position: absolute;
  top: 80%;
  right: 10%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 80px;
  padding: 20px 10px 10px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  letter-spacing: 3px;
}
header .news span {
  color: #707070;
  font-size: 16px;
  letter-spacing: 3px;
}
header .news p {
  color: #fff;
  padding-top: 8px;
  line-height: 1.5;
  letter-spacing: 3px;
}

main .small-flex {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .small-flex .small {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1200px;
  height: 200px;
  margin: 0 auto 100px auto;
}
main .small-flex .small .tomi-text {
  width: 260px;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-top: 80px;
}
main .small-flex .small .tomi-text h4 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}
main .concept {
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
  background-image: url(../images/concept-img.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .concept img {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}
main .concept h2 {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
main .concept p {
  width: 640px;
  margin: 0 auto;
  color: #fff;
  line-height: 2.6;
  letter-spacing: 3px;
  text-align: center;
}
main .story {
  width: 1200px;
  margin: 0 auto;
  height: 1000px;
  background-image: url(../images/main-story-image.jpg);
}
main .story .story-text {
  width: 500px;
  height: 1000px;
  margin-left: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 50px;
}
main .story .story-text img {
  margin: 50px auto 50px auto;
  padding-left: 150px;
}
main .story .story-text h3 {
  font-size: 27px;
  color: #fff;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 30px;
}
main .story .story-text p {
  line-height: 2.8;
}
main .feature {
  width: 1200px;
  margin: 0 auto;
  padding: 280px 0;
  background-image: url(../images/feature-img6.jpg);
}
main .feature .feature-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 160px;
}
main .feature .feature-flex .feature-img {
  width: 600px;
  height: 600px;
  margin-right: 50px;
}
main .feature .feature-flex .feature-text {
  background-color: rgba(100, 100, 100, 0.8);
  width: 600px;
  height: 400px;
  margin: 300px -100px 0 50px;
  padding: 70px 50px 50px 50px;
}
main .feature .feature-flex .feature-text h3 {
  font-size: 27px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
}
main .feature .feature-flex .feature-text h4 {
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 30px;
}
main .feature .feature-flex .feature-text p {
  line-height: 2;
  color: #fff;
}
main .feature .row-reverse {
  flex-direction: row;
}
main .feature .row-reverse .feature-img {
  margin-left: 50px;
}
main .feature .row-reverse .feature-text {
  margin: 300px 50px 0 -100px;
  opacity: 1;
}
main .hearts {
  background-image: url(../images/main-hearts.jpg);
  margin-bottom: 100px;
}
main .hearts .hearts-text {
  margin: 0px;
}
main .cook {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
main .cook .cook-img ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .cook .cook-text {
  width: 800px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-align: left;
  color: #373737;
  padding: 30px;
}
main .cook .cook-text h3 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}
main .cook .cook-text p {
  line-height: 1.7;
}

footer {
  width: 1200px;
  margin: 0 auto;
}
footer .footer-top {
  background-color: #707070;
}
footer .footer-top .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer-top .footer-flex .footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 300px;
  background-color: #707070;
  color: #fff;
  padding-top: 50px;
  letter-spacing: 2px;
}
footer .footer-top .footer-flex .footer-text h2 {
  font-size: 27px;
  margin-bottom: 20px;
}
footer .footer-top .footer-flex .footer-text address {
  line-height: 2;
}
footer .footer-top .footer-flex .footer-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 200px;
  background-color: #707070;
  padding-top: 100px;
}
footer .footer-top .footer-flex .footer-icon ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  margin-left: 50px;
}
footer .footer-top .footer-flex .footer-icon li {
  font-size: 50px;
  color: #fff;
}
footer .footer-top .footer-flex .footer-icon a:hover {
  color: gray;
}
footer .footer-center {
  width: 1200px;
  height: 200px;
  background-color: #707070;
}
footer .footer-bottom {
  height: 50px;
  color: #373737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */